<a href="https://colab.research.google.com/github/sparc373/test-python-scripts/blob/master/Evaluating_classifier_performance_using_Confussion_Matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [8]:
data = pd.read_csv("train.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 10 columns):
p_id                     614 non-null int64
no_times_pregnant        614 non-null int64
glucose_concentration    614 non-null int64
blood_pressure           614 non-null int64
skin_fold_thickness      614 non-null int64
serum_insulin            614 non-null int64
bmi                      614 non-null float64
diabetes pedigree        614 non-null float64
age                      614 non-null int64
diabetes                 614 non-null int64
dtypes: float64(2), int64(8)
memory usage: 48.0 KB

In [9]:
data.describe()

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,385.773616,3.853420,120.542345,68.765472,20.244300,79.355049,31.909935,0.466342,33.325733,0.348534
std,223.603024,3.358126,31.252286,19.914836,15.886083,117.709950,8.007699,0.331090,11.929569,0.476895
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,191.250000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.240250,24.000000,0.000000
50%,387.000000,3.000000,117.000000,72.000000,23.000000,17.000000,32.000000,0.361000,29.000000,0.000000
75%,572.750000,6.000000,139.000000,80.000000,32.000000,126.000000,36.600000,0.613500,41.000000,1.000000
max,768.000000,17.000000,197.000000,114.000000,63.000000,846.000000,59.400000,2.420000,81.000000,1.000000

In [10]:
#Lets have a look into some sample data
data.head()

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
0,316,2,112,68,22,94,34.1,0.315,26,0
1,25,11,143,94,33,146,36.6,0.254,51,1
2,710,2,93,64,32,160,38.0,0.674,23,1
3,658,1,120,80,48,200,38.9,1.162,41,0
4,542,3,128,72,25,190,32.4,0.549,27,1

In [13]:
#Provide features for X and label for y
X = data.drop('diabetes',axis=1)
y = data['diabetes']
# Split the data into traing and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.33)
#Initialize Random Forest Classifier
rfc = RandomForestClassifier()
#Fit model on the training Data
rfc.fit(X_train,y_train)
#Make predictions
predictions = rfc.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [14]:
#Generate Confusion Matrix
conf_matrix = confusion_matrix(predictions,y_test)
print(conf_matrix)

[[117  37]
 [ 14  35]]

In [15]:
#Lets calculate Precision, Recall and F1 score for label 0 and 1
#For Label 0
tp = conf_matrix[0,0]
fp = conf_matrix[1,0]
fn = conf_matrix[0,1]

precision  = tp / (tp + fp)
recall     = tp / (tp + fn)
f1_score   = 2*( precision * recall)/(precision + recall)

print('precision, recall and f1-score for label 0')
print('The precision for label 0 is: {0:.2f}'.format(precision))
print('The recall for label 0 is: {0:.2f}'.format(recall))
print('The f1-score for label 0 is: {0:.2f}'.format(f1_score))
print('\n')
#For Label 1 

tp = conf_matrix[1,1]
fp = conf_matrix[0,1]
fn = conf_matrix[1,0]

precision  = tp / (tp + fp)
recall     = tp / (tp + fn)
f1_score   = 2*( precision * recall)/(precision + recall)

print('precision, recall and f1-score for label 1')
print('The precision for label 1 is: {0:.2f}'.format(precision))
print('The recall for label 1 is: {0:.2f}'.format(recall))
print('The f1-score for label 1 is: {0:.2f}'.format(f1_score))

precision, recall and f1-score for label 0
The precision for label 0 is: 0.89
The recall for label 0 is: 0.76
The f1-score for label 0 is: 0.82


precision, recall and f1-score for label 1
The precision for label 1 is: 0.49
The recall for label 1 is: 0.71
The f1-score for label 1 is: 0.58

In [16]:
print(classification_report(predictions,y_test))

              precision    recall  f1-score   support

           0       0.89      0.76      0.82       154
           1       0.49      0.71      0.58        49

   micro avg       0.75      0.75      0.75       203
   macro avg       0.69      0.74      0.70       203
weighted avg       0.79      0.75      0.76       203